---

port: 4000
host: 0.0.0.0
safe: false


### site serving configuration ###
exclude: [CNAME, README.md, .gitignore]
permalink: /:title ## disables post output
timezone: null
lsi: false
markdown: kramdown


### content configuration ###
title:       "Pothole Dry Condition Project"
keywords:    "Potholes, Climate, Water depth, Data Science, Python, modelling"
description: "The purpose of this project is to check the interaction or relationship betweeen climatic conditions and pothole water depth, to further check if any of the climatic factors particularly affected the dry periods of the potholes"
source_link: "https://github.com/OSO3670"
google_analytics_key: UA-49607422-1 ## put YOUR key here to enable tracking! (blank to disable)
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{display: none !important;}


### template colors, used site-wide via css ###
colors:
  black:     '#111111'
  white:     '#f8f8f8'
  blue:      '#49a7e9'
  green:     '#9bcf2f'
  purple:    '#c869bf'
  orange:    '#fab125'
  turquoise: '#0fbfcf'

kramdown:
  auto_ids:  false


theme: jekyll-theme-architect
